The Home Value Estimator will take house attributes from past sales and estimate the home value.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error
import joblib as jb
import numpy as np

In [2]:
# Read the dataset into a data table using Pandas
df = pd.read_csv("ml_house_data_set.csv")

In [3]:
# Explore the data set
df.head()

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_type,garage_sqft,carport_sqft,has_fireplace,has_pool,has_central_heating,has_central_cooling,house_number,street_name,unit_number,city,zip_code,sale_price
0,1978,1,4,1,1,1689,1859,attached,508,0,True,False,True,True,42670,Lopez Crossing,NaN,Hallfort,10907,270897.0
1,1958,1,3,1,1,1984,2002,attached,462,0,True,False,True,True,5194,Gardner Park,NaN,Hallfort,10907,302404.0
2,2002,1,3,2,0,1581,1578,none,0,625,False,False,True,True,4366,Harding Islands,NaN,Lake Christinaport,11203,2519996.0
3,2004,1,4,2,0,1829,2277,attached,479,0,True,False,True,True,3302,Michelle Highway,NaN,Lake Christinaport,11203,197193.0
4,2006,1,4,2,0,1580,1749,attached,430,0,True,False,True,True,582,Jacob Cape,NaN,Lake Christinaport,11203,207897.0

In [4]:
# Check the column data types using the dtypes attribute
df.dtypes

year_built               int64
stories                  int64
num_bedrooms             int64
full_bathrooms           int64
half_bathrooms           int64
livable_sqft             int64
total_sqft               int64
garage_type             object
garage_sqft              int64
carport_sqft             int64
has_fireplace             bool
has_pool                  bool
has_central_heating       bool
has_central_cooling       bool
house_number             int64
street_name             object
unit_number            float64
city                    object
zip_code                 int64
sale_price             float64
dtype: object

In [5]:
# Use the shape attribute to get the number of rows and columns in your dataframe
df.shape

(42703, 20)

In [6]:
# The info method gives the column datatypes + number of non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_built           42703 non-null  int64
 1   stories              42703 non-null  int64
 2   num_bedrooms         42703 non-null  int64
 3   full_bathrooms       42703 non-null  int64
 4   half_bathrooms       42703 non-null  int64
 5   livable_sqft         42703 non-null  int64
 6   total_sqft           42703 non-null  int64
 7   garage_type          42703 non-null  object
 8   garage_sqft          42703 non-null  int64
 9   carport_sqft         42703 non-null  int64
 10  has_fireplace        42703 non-null  bool
 11  has_pool             42703 non-null  bool
 12  has_central_heating  42703 non-null  bool
 13  has_central_cooling  42703 non-null  bool
 14  house_number         42703 non-null  int64
 15  street_name          42703 non-null  object
 16  unit_number          3088 non-null   float64
 17  city                 42703 non-null  object
 18  zip_code             42703 non-null  int64
 19  sale_price           42703 non-null  float64
dtypes: bool(4), float64(2), int64(11), object(3)
memory usage: 5.4+ MB

In [7]:
# Remove the fields from the data set that we don't want to include in our model
del df['house_number']
del df['unit_number']
del df['street_name']
del df['zip_code']

In [8]:
# Replace categorical data with one-hot encoded data
features_df = pd.get_dummies(df, columns=['garage_type', 'city'])

In [9]:
# Remove the sale price from the feature data
del features_df['sale_price']

In [10]:
features_df

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,...,city_South Anthony,city_South Stevenfurt,city_Toddshire,city_Wendybury,city_West Ann,city_West Brittanyview,city_West Gerald,city_West Gregoryview,city_West Lydia,city_West Terrence
0,1978,1,4,1,1,1689,1859,508,0,True,...,0,0,0,0,0,0,0,0,0,0
1,1958,1,3,1,1,1984,2002,462,0,True,...,0,0,0,0,0,0,0,0,0,0
2,2002,1,3,2,0,1581,1578,0,625,False,...,0,0,0,0,0,0,0,0,0,0
3,2004,1,4,2,0,1829,2277,479,0,True,...,0,0,0,0,0,0,0,0,0,0
4,2006,1,4,2,0,1580,1749,430,0,True,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42698,1982,1,1,1,0,591,627,0,200,False,...,0,0,0,0,0,0,0,0,0,0
42699,1983,1,1,1,0,592,624,0,204,False,...,0,0,0,0,0,0,0,0,0,0
42700,1983,1,1,1,0,594,618,0,197,False,...,0,0,0,0,0,0,0,0,0,0
42701,1981,1,3,2,0,1398,1401,401,0,False,...,0,0,0,0,0,0,0,0,0,0
42702,1980,1,3,2,0,1401,1406,396,0,False,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X = features_df
y = df['sale_price']

In [12]:
# Split the data set in a training set (70%) and a test set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [13]:
# Fit regression model
model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate=0.1,
    max_depth=6,
    min_samples_leaf=9,
    max_features=0.1,
    loss='huber',
    random_state=0
)
model.fit(X_train, y_train)

GradientBoostingRegressor(loss='huber', max_depth=6, max_features=0.1,
                          min_samples_leaf=9, n_estimators=1000,
                          random_state=0)

In [14]:
# Save the trained model to a file so we can use it in other programs
jb.dump(model, 'trained_house_classifier_model.pkl')

['trained_house_classifier_model.pkl']

In [15]:
# Find the error rate on the training set
mse = mean_absolute_error(y_train, model.predict(X_train))
print("Training Set Mean Absolute Error: %.4f" % mse)

Training Set Mean Absolute Error: 48727.0015

In [16]:
# Find the error rate on the test set
mse = mean_absolute_error(y_test, model.predict(X_test))
print("Test Set Mean Absolute Error: %.4f" % mse)

Test Set Mean Absolute Error: 59225.2075

In [17]:
# These are the feature labels from our data set
feature_labels = np.array(['year_built', 'stories', 'num_bedrooms', 'full_bathrooms', 'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_sqft', 'carport_sqft', 'has_fireplace', 'has_pool', 'has_central_heating', 'has_central_cooling', 'garage_type_attached', 'garage_type_detached', 'garage_type_none', 'city_Amystad', 'city_Brownport', 'city_Chadstad', 'city_Clarkberg', 'city_Coletown', 'city_Davidfort', 'city_Davidtown', 'city_East Amychester', 'city_East Janiceville', 'city_East Justin', 'city_East Lucas', 'city_Fosterberg', 'city_Hallfort', 'city_Jeffreyhaven', 'city_Jenniferberg', 'city_Joshuafurt', 'city_Julieberg', 'city_Justinport', 'city_Lake Carolyn', 'city_Lake Christinaport', 'city_Lake Dariusborough', 'city_Lake Jack', 'city_Lake Jennifer', 'city_Leahview', 'city_Lewishaven', 'city_Martinezfort', 'city_Morrisport', 'city_New Michele', 'city_New Robinton', 'city_North Erinville', 'city_Port Adamtown', 'city_Port Andrealand', 'city_Port Daniel', 'city_Port Jonathanborough', 'city_Richardport', 'city_Rickytown', 'city_Scottberg', 'city_South Anthony', 'city_South Stevenfurt', 'city_Toddshire', 'city_Wendybury', 'city_West Ann', 'city_West Brittanyview', 'city_West Gerald', 'city_West Gregoryview', 'city_West Lydia', 'city_West Terrence'])

In [18]:
# Load the trained model created with train_model.py
model = jb.load('trained_house_classifier_model.pkl')

In [19]:
# Create a numpy array based on the model's feature importances
importance = model.feature_importances_

In [20]:
# Sort the feature labels based on the feature importance rankings from the model
feauture_indexes_by_importance = importance.argsort()

In [21]:
# Print each feature label, from most important to least important (reverse order)
for index in feauture_indexes_by_importance:
    print("{} - {:.2f}%".format(feature_labels[index], (importance[index] * 100.0)))

city_New Robinton - 0.00%
city_New Michele - 0.00%
city_Martinezfort - 0.00%
city_Julieberg - 0.00%
city_Davidtown - 0.00%
city_Lake Jennifer - 0.00%
city_Rickytown - 0.01%
city_Fosterberg - 0.01%
city_East Justin - 0.01%
city_West Terrence - 0.01%
city_West Brittanyview - 0.01%
city_South Stevenfurt - 0.01%
city_Joshuafurt - 0.02%
city_Leahview - 0.02%
city_East Janiceville - 0.02%
city_Brownport - 0.03%
city_Amystad - 0.03%
city_Toddshire - 0.03%
city_Wendybury - 0.05%
city_Port Adamtown - 0.05%
city_Port Daniel - 0.05%
city_Clarkberg - 0.09%
city_Davidfort - 0.09%
city_West Lydia - 0.12%
city_Port Jonathanborough - 0.12%
garage_type_detached - 0.18%
city_Jenniferberg - 0.19%
city_East Amychester - 0.20%
city_Morrisport - 0.21%
city_Lewishaven - 0.22%
city_West Gerald - 0.23%
city_Richardport - 0.25%
city_North Erinville - 0.25%
city_East Lucas - 0.27%
city_Lake Carolyn - 0.30%
has_central_heating - 0.33%
city_West Gregoryview - 0.33%
city_West Ann - 0.39%
city_Lake Dariusborough - 0.43%
city_South Anthony - 0.49%
has_central_cooling - 0.56%
city_Justinport - 0.65%
city_Hallfort - 0.66%
half_bathrooms - 0.93%
garage_type_attached - 0.93%
city_Chadstad - 1.12%
city_Scottberg - 1.30%
stories - 1.46%
city_Lake Christinaport - 1.47%
city_Lake Jack - 1.59%
city_Port Andrealand - 1.59%
has_fireplace - 1.86%
garage_type_none - 2.04%
carport_sqft - 3.35%
city_Jeffreyhaven - 3.47%
city_Coletown - 4.21%
year_built - 4.31%
has_pool - 4.40%
num_bedrooms - 5.87%
full_bathrooms - 9.56%
garage_sqft - 12.23%
livable_sqft - 15.12%
total_sqft - 16.30%

In [22]:
# For the house we want to value, we need to provide the features in the exact same
# arrangement as our training data set.
house_to_value = [
    # House features
    2006,   # year_built
    1,      # stories
    4,      # num_bedrooms
    3,      # full_bathrooms
    0,      # half_bathrooms 
    2200,   # livable_sqft
    2350,   # total_sqft
    0,      # garage_sqft
    0,      # carport_sqft
    True,   # has_fireplace
    False,  # has_pool
    True,   # has_central_heating
    True,   # has_central_cooling
    
    # Garage type: Choose only one
    0,      # attached
    0,      # detached
    1,      # none
    
    # City: Choose only one
    0,      # Amystad
    1,      # Brownport
    0,      # Chadstad
    0,      # Clarkberg
    0,      # Coletown
    0,      # Davidfort
    0,      # Davidtown
    0,      # East Amychester
    0,      # East Janiceville
    0,      # East Justin
    0,      # East Lucas
    0,      # Fosterberg
    0,      # Hallfort
    0,      # Jeffreyhaven
    0,      # Jenniferberg
    0,      # Joshuafurt
    0,      # Julieberg
    0,      # Justinport
    0,      # Lake Carolyn
    0,      # Lake Christinaport
    0,      # Lake Dariusborough
    0,      # Lake Jack
    0,      # Lake Jennifer
    0,      # Leahview
    0,      # Lewishaven
    0,      # Martinezfort
    0,      # Morrisport
    0,      # New Michele
    0,      # New Robinton
    0,      # North Erinville
    0,      # Port Adamtown
    0,      # Port Andrealand
    0,      # Port Daniel
    0,      # Port Jonathanborough
    0,      # Richardport
    0,      # Rickytown
    0,      # Scottberg
    0,      # South Anthony
    0,      # South Stevenfurt
    0,      # Toddshire
    0,      # Wendybury
    0,      # West Ann
    0,      # West Brittanyview
    0,      # West Gerald
    0,      # West Gregoryview
    0,      # West Lydia
    0       # West Terrence
]

In [23]:
# scikit-learn assumes you want to predict the values for lots of houses at once, so it expects an array.
# We just want to look at a single house, so it will be the only item in our array.
homes_to_value = [
    house_to_value
]

In [24]:
# Run the model and make a prediction for each house in the homes_to_value array
predicted_home_values = model.predict(homes_to_value)

# Since we are only predicting the price of one house, just look at the first prediction returned
predicted_value = predicted_home_values[0]

print("This house has an estimated value of ${:,.2f}".format(predicted_value))

This house has an estimated value of $587,091.02

In [26]:
round(model.score(X_train, y_train) * 100, 2)

82.4